beautifulsoup4==4.9.0
soupsieve==2.0
amqp==2.5.2
anyjson==0.3.3
appnope==0.1.0
attrdict==2.0.1
backports.shutil-get-terminal-size==1.0.0
billiard==3.6.3.0
blinker==1.4
braintree==4.1.0
celery==4.4.2
click==7.0
configparser==5.0.0
decorator==4.4.2
Flask==1.1.2
Flask-Mail==0.9.1
gunicorn==20.0.4
ipdb==0.13.2
ipython==7.14.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
kombu==4.6.8
MarkupSafe==1.1.1
passlib==1.7.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit~=2.0.7
ptyprocess==0.6.0
py2neo==4.3.0
Pygments~=2.3.1
pymongo==3.10.1
premailer==3.7.0
pytz==2020.1
PyYAML==5.3.1
redis==3.5.0
requests==2.23.0
simplegeneric==0.8.1
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.9
Werkzeug==1.0.1
GitPython==3.1.2
markdown2==2.3.8
slackclient==2.5.0
