.readme{
  padding: 5%;
  margin: 1%;
  background-color: #F7F6EF;
}

.inlineExample{
  padding: 5%;
  margin: 1%;
  display: block;
  overflow: scroll;
  border: 1px solid #F7F6EF;
}

.exampleLinks{
  background-color: #efefef;

  z-index: 100;
}
