.readme{
  padding: 5%;
  margin: 5%;
  background-color: #F7F6EF;
}

.inlineExample{
  padding: 5%;
  margin: 5%;
  display: inline-block;
  overflow: visible;
}

.exampleLinks{
  padding: 1%;
  margin: 5%;
  background-color: #efefef;
  z-index: 100;


}
