.readme{
  padding: 5%;
  margin: 2%;
  background-color: #F7F6EF;
}

.inlineExample{
  padding: 1%;
  margin: 2%;
  display: block;
  overflow: scroll;
  border: 1px solid #F7F6EF;
  font-size: 10pt;
}

.exampleLinks{
  background-color: #efefef;

  z-index: 100;
}
