<ol class="joyride-list" data-joyride>
  <li data-button="Begin Tour" data-text="Next"  data-options="prev_button: false">
    <h4>C-CDA Example Search Help</h4>
    <p><strong>C-CDA Example Search</strong><br/>
      This screen displays the main interface for the C-CDA Example repository. The repository
      contains a set of example files that have undergone a review and vetting process to
      ensure completeness and rigour. The examples have been created in smaller, consumable
      snippets and associated with the section in the specification.
    </p>
    <p>This page provides a panel for specifying search criteria and a list of the various
      sections that contain examples. Pressing [Begin Tour] will walk through the various
      interface elements of this page in detail.</p>
  </li>
  <%= render 'common/tour_search' %>
  <li data-id="section-list-col" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>The list below show the various documents and sections that have examples defined. Each entry in the list has the name of the document or section and a description of the entry with a link
      to the item's contents.
    Following the content link will present a list of the examples specific to that entry.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Tour Complete</h4>
    <p>Return to the C-CDA Example Main display page.</p>
  </li>
</ol>
