{% extends 'base.html' %}
{% block title %}oops{% endblock %}
{% block head %}
{% endblock %}
{% block bodyclass %}login-page{% endblock %}

{% block body %}

    <div class="login-box">
        <!-- error message -->
        <div>
            <div style="font-size: 10em;font-weight: bold;color: #7D7D7D;text-align: center;">sorry</div>
            <div style="font-size: 2em; text-align: center;margin-top: 20px;">we are currently down for maintenance</div>
        </div>
        <!-- /error message -->
    </div>
{% endblock %}
