<ol class="joyride-list" data-joyride>
  <li data-button="Begin Tour" data-text="Next"  data-options="prev_button: false">
    <h4>C-CDA Example Search Help</h4>
    <p><strong>C-CDA Example Details Display</strong><br/>
      This screen displays the results of executing the example search criteria
      against the existing examples recorded in the example database.</p>
  </li>
  <li data-id="example-name" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
    <p>example name</p>
  </li>
  <li data-id="main-page-link" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
    <p>Use this link to jump back to the initial page of the application (that lists the sections).</p>
  </li>
  <li data-id="search-list-link" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
    <p>Use this link to return to the previous screen (either search results or section list)
      listing examples.</p>
  </li>
  <li data-id="example-status" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>The state of the example in the example verification and approval process. The state is
      one of: approved, draft, pending or withdrawn.</p>
  </li>
  <li data-id="example-validation" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>The link to the location where the example can be verified as correct against the
      C-CDA specification.</p>
  </li>
  <li data-id="example-comments" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Various notes and observations about the current example.</p>
  </li>
  <li data-id="example-custodian" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>The person responsible for the creation and maintenance of the current example.</p>
  </li>
  <li data-id="example-full" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>A reference to a complete sample for the document containing this section.</p>
  </li>
  <li data-id="example-example" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>The XML example. This is the syntax highlighted source for the example snippet for viewing
      and examination. The source for the snippet can be downloaded or you can go to the actual
      source file on GitHub.</p>
  </li>
  <li data-id="example-download" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Download the example as XML source to a file on your local storage (making it accessible off-line).</p>
  </li>
  <li data-id="example-github" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Go to the file source stored on GitHub (you will need to use the back button to
      return to this site).</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Tour Complete</h4>
    <p>Return to the C-CDA Example Detail page.</p>
  </li>
</ol>
