@font-face {
  font-family: 'SimpleSymbol';
  src:url(font-path('SimpleSymbol.eot'));
  src:url(font-path('SimpleSymbol.eot') + '?#iefix') format('embedded-opentype'),
  url(font-path('SimpleSymbol.woff')) format('woff'),
  url(font-path('SimpleSymbol.ttf')) format('truetype'),
  url(font-path('SimpleSymbol.svg') + '#SimpleSymbol') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppSymbol';
  src:url(font-path('AppSymbol.eot'));
  src:url(font-path('AppSymbol.eot') + '?#iefix') format('embedded-opentype'),
  url(font-path('AppSymbol.woff')) format('woff'),
  url(font-path('AppSymbol.ttf')) format('truetype'),
  url(font-path('AppSymbol.svg') + '#AppSymbol') format('svg');

  font-weight: normal;
  font-style: normal;
}
