.comment {
  font-style: italic;
}

.list-hdr {
  img {
    max-height: 15px;
  }
}

.list-image {
  img {
    max-height: 40px;
  }
}

.inactive {
  text-decoration: line-through;
  color: grey;
}

.important-notice {
  background: lightpink;
  padding: 7px;
  border-left: hotpink solid 8px;
  font-variant: small-caps;
  font-weight: bolder;
}

.return-link {
  text-align: right;
}

.list-link-text {
  font-variant: small-caps;
  font-style: italic;
  font-size: .8em;
}

.link-pointer {
  font-family: AppSymbol;
  font-size: .8em;
}

.detail-with-list {
  margin-bottom: .3rem;
}

