.listing {
  width: 100%;
}

.list-title {
  font-weight: bold;
  margin-bottom: .1rem;
}

.list-detail {
  //font-variant: small-caps;
  //font-style: italic;
  font-weight: 200;
  margin-bottom: .2rem;
  font-size: .9rem;

  h1 {
    font-size: .9rem;
    font-weight: 300;
  }

  h2 {
    font-size: .9rem;
    font-weight: 300;
  }

  p {
    font-size: .9rem;
    font-weight: 200;
    line-height: 1rem;
  }

  ul {
    margin-bottom: .1rem;
    list-style: none;
    font-size: .9rem;
  }
}
