<li data-id="search-criteria" data-text="Next" data-options="tip_location: left">
  <h4>Search Criteria Panel</h4>
  <p>This panel allow you to further refine your queries and narrow the results</p>
</li>
<li data-id="search-by-text" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev">
  <h4>Text Search Words</h4>
  <p>Use this field to enter words related to your search. These words can appear in the
    title, the comments or as part of a special list of keywords associated with the example.
  The search words should be entered with spaces separating the items.</p>
</li>
<li data-id="search-by-status" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
  <h4>Filter by example status</h4>
  <p>By selecting the various statuses, the search results can be limited to only the example
  that are set to the selected status(es). By removing all status selections, the filtering
    is removed and examples from all statuses will be returned (based on any other filtering).</p>
</li>
<li data-id="search-by-cert" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
  <h4>Select only ONC Certified examples</h4>
  <p>These are samples referenced in a government rule or certification companion guide.</p>
</li>
<li data-id="sub-btn" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
  <p>Execute the search based on the criteria entered (or retrieve all examples if no
    criteria specified).</p>
</li>
